/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Reset some basic styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #333;
  background-color: #f4f4f4;
  line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Georgia, serif;
}
p {
  font-family: Verdana, sans-serif;
}

header {
  background-color: #0077b6;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

header h1,
.heading {
  margin-bottom: 10px;
  font-size: 50px;
}

header h1 {
  margin-bottom: -10px;
}

.contain {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  padding: 10px 0;
  justify-content: space-between;
  white-space: nowrap;
  width: 100%;
  font-size: 40px;
}
nav {
  display: flex;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: lightgrey !important;
}
a:active {
  cursor: pointer;
  color: black !important;
}
.links {
  color: blue;
}

.feature-image {
  background-color: white;
  padding: 60px 0;
  color: black;
  padding-left: 60px;
  height: 100vh;
}
.template {
  background-color: white;
  padding: 60px 0;
}
.legal {
  padding-left: 10px;
}
.centered {
  text-align: center;
}
.feature-image p {
  margin: 0px 10px;
  font-size: 30px;
}

#content {
  padding: 20px;
  background-color: lightgray;
}
.profile-pic {
  float: left;
  height: auto;
  margin-right: 10px;
  display: flex;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
  nav ul li {
    display: block;
    margin: 5px 0;
  }
  .content {
    padding: 0px;
  }
  .feature-image p {
    font-size: 15px;
  }
  .feature-image {
    padding: 5px;
  }
  img {
    margin: 0px 0px;
    width: 50%;
  }
  header h1,
  .heading {
    margin-bottom: 5px;
  }
  nav ul {
    padding: 0px 0;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
  }
}

.icons {
  display: block;
  margin: auto;
}

.post-preview {
  text-align: left;
  margin: 0px 15px;
}
.background-minnesota {
  background-image: url("../public/images/minnesota.png");
  background-attachment: fixed;
  background-size: auto;
  object-fit: cover;
}
.footer-container {
  margin-bottom: 0%;
}
html {
  height: 100%;
}
.site-container {
  overflow: hidden;
  min-height: 100%;
}

.form-page {
  width: 50%;
  margin: 10vh auto;
}
.form-page button {
  margin-top: 20px;
}

.full-screen {
  height: 100vh;
}

.hoverable:hover {
  cursor: pointer;
}
input:required:focus:invalid {
  border: 2px solid red;
}
